* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Kapakana", cursive;

  /*Cores*/
  --barra_pesq: #877788;
  --fundo_img: #d9d9d9;
  --fontes: #4a2d57;
  --fontes2: #a16abb;
  --fontsDivs: #ffffff;
  --fundoPag: #c8a2a4;
  --actionHove: #ffffff;
  --tempo: 0.3s;
  --escala: 1.07;
  --botaoBorda: 10px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden; /* remove qualquer sobra horizontal */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*ÂNCORAS*/

#principal {
  width: 100%;
  height: 100vh;
  background-image: url("/img/sabonete.png");
  background-size: cover;
}

#navegar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 9;
}

#navegar > #barraNavegacoes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: var(--barra_pesq);
}

#navegar > #barraNavegacoes > #linkWhatsapp > #whatsapp {
  width: 35px;
  height: 35px;
  transition: var(--tempo);
}

#navegar > #barraNavegacoes > #linkWhatsapp > #whatsapp:hover {
  transform: scale(var(--escala));
}

#navegar > #barraNavegacoes > ul > li > a .opcao {
  width: 80px;
  height: 40px;
  border-radius: var(--botaoBorda);
  transition: var(--tempo);
  font-family: "Noto Serif", serif;
  font-size: 17px;
  font-weight: 200;
  color: var(--fontes);
}

#barraNavegacoes > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  list-style: none;
}

#barraNavegacoes > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

#barraNavegacoes > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 90%;
  height: 100%;
}

.opcao:hover {
  transform: scale(var(--escala));
  background-color: var(--actionHove);
  cursor: pointer;
  border: 1.2px solid var(--fontes);
  box-shadow: 1px 1px 10px 0.2px;
}

#principal > #info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#principal > #info > #campoBrancoOpaco {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: #ffffff80;
}

#perfilImg {
  width: 100%;
  max-width: 130px;
  border-radius: 10px;
  transition: var(--tempo);
  margin: auto;
  box-shadow: 0px 2px 20px 0px;
}

#perfil > p {
  margin: 10%;
  text-align: center;
  font-size: 2em;
  color: var(--fontes2);
}

#perfilImg:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 0px;
}

#circulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 280px;
  border-radius: 200px;
  background-color: var(--fundo_img);
  transition: var(--tempo);
  box-shadow: 0px 1px 50px 0px;
}

#circulo:hover {
  transform: scale(var(--escala));
  box-shadow: 0px 0px 15px 0px;
  cursor: default;
}

#circulo > h1 {
  cursor: default;
  font-size: 90px;
  font-weight: 400;
  text-shadow: #000 10px 0px 15px;
  text-wrap: nowrap;
  text-align: center;
  width: 400px;
  border-bottom: 2px solid var(--fontes);
  color: var(--fontes);
  transition: var(--tempo);
}

#circulo > h1:hover {
  font-size: 82px;
}

/*SOBRE*/

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--fundoPag);
  height: 100vh;
  width: 100%;
}

/*INICIO TEXTO SOBRE*/
.texto_branco {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
/*FIM TEXTO SOBRE*/

#sobre > #tituloPag > p {
  color: var(--fontsDivs);
}

#sobre > #imageSobre > .campo > div > p {
  color: var(--fontsDivs);
}

#tituloPag {
  text-align: center;
}

#tituloPag > h1 {
  color: var(--fontes);
  border-bottom: 1px solid var(--fontes);
}

#imageSobre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px; /* espaço entre os blocos */
}

.campo {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 260px;
}

.campo_imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--fundo_img);
  height: 150px;
  width: 150px;
  border-radius: 500%;
  box-shadow: 1px 1px 10px 0.2px;
  transition: var(--tempo);
}

.campo_imagem:hover {
  transform: scale(0.98);
  box-shadow: 1px 1px 15px 0.2px;
}

/*MODELANDO O CAMPO IMAGEM CENTRAL*/
#campo_imagem_central {
  height: 250px;
  width: 250px;
}

/*MODELANDO AS IMAGENS SEPARADAMENTE*/
a {
  color: black;
}

.img_geral_bem_vindo {
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0.2px;
  transition: var(--tempo);
  cursor: pointer;
}

.img_geral_bem_vindo:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 20px 0.2px;
}

#img_sabonete {
  height: 110px;
  width: 120px;
}

#img_cabelo {
  height: 200px;
  width: 160px;
}

#img_unha {
  height: 110px;
  width: 120px;
}

.campo > div > h1 {
  color: var(--fontes);
  border-bottom: 1px solid var(--fontes);
}

/*PRODUTOS*/
#produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--fundoPag);
  height: 100vh;
}

#produtos > h1 {
  color: var(--fontes);
  width: 10%;
  text-align: center;
  border-bottom: 1px solid var(--fontes);
}

#produtos > .carrossel > .cartao {
  flex: 0 0 10em;
  height: 12em;
  padding: 1em;
  border-radius: 30px;
  text-align: center;
  align-content: center;
  scroll-snap-align: start;
  transition: var(--tempo);
}

.cartao:hover {
  transform: scale(var(--escala));
}

.carrossel {
  width: 100%;
  overflow-x: auto;
  margin: 0;
  border: 130px solid var(--fundoPag);
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.carrossel::scroll-button(right),
.carrossel::scroll-button(left) {
  border: none;
  background-color: var(--fontes);
  font-size: 1rem;
  color: var(--actionHove);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: absolute;
  top: 248%;
  transition: var(--tempo);
}

.carrossel::scroll-button(right) {
  content: "⭢";
  right: 4.5%;
}

.carrossel::scroll-button(left) {
  content: "⭠";
  left: 4.5%;
}

.carrossel::scroll-button(right):disabled,
.carrossel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}

.carrossel::scroll-button(right):hover,
.carrossel::scroll-button(left):hover {
  background-color: var(--fontes2);
  transform: scale(var(--escala));
}

/*SERVICOS*/
#servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--fundoPag);
  height: 100vh;
}

#servicos > h1 {
  color: var(--fontes);
  width: 10%;
  text-align: center;
  border-bottom: 1px solid var(--fontes);
}

#servicos > .carrossel_servcos > .cartao_servicos {
  flex: 0 0 10em;
  height: 12em;
  padding: 1em;
  border-radius: 30px;
  text-align: center;
  align-content: center;
  scroll-snap-align: start;
  transition: var(--tempo);
}

.cartao_servicos:hover {
  transform: scale(var(--escala));
}

.carrossel_servcos {
  width: 100%;
  overflow-x: auto;
  margin: 0;
  border: 130px solid var(--fundoPag);
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
}

.carrossel_servcos::-webkit-scrollbar {
  display: none;
}

.carrossel_servcos::scroll-button(right),
.carrossel_servcos::scroll-button(left) {
  border: none;
  background-color: var(--fontes);
  font-size: 1rem;
  color: var(--actionHove);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: absolute;
  top: 248%;
  transition: var(--tempo);
}

.carrossel_servcos::scroll-button(right) {
  content: "⭢";
  right: 4.5%;
}

.carrossel_servcos::scroll-button(left) {
  content: "⭠";
  left: 4.5%;
}

.carrossel_servcos::scroll-button(right):disabled,
.carrossel_servcos::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}

.carrossel_servcos::scroll-button(right):hover,
.carrossel_servcos::scroll-button(left):hover {
  background-color: var(--fontes2);
  transform: scale(var(--escala));
}
